/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 1000px;
	margin: auto;
	border: 1px solid red;
	background-color: white;
}

.container h4 {
	font-weight: bold;
}

.container .cta  img{
	/*margin-left: 115px;*/
}

header nav {
	display: inline-block;
	margin-top: 38px;
}

header .logo {
	margin-left: 58px;
	vertical-align: middle;
}

header nav a {
    margin: 0px 3px 31px 64px;
    color: #A9A9A9;
    font-weight: bold;
    font-size: 14px;
}

.cta {
	
	margin-top: 20px;
}

.cta .cta-text {
	display: inline-block;
	text-align: center;
}

.cta .cta-text h1 {
	font-size: 75px;
	margin: 0px 136px 40px 107px;
}

.main-content {
	margin: 40px 59px;
}

.main-content .top-content .text-content {
	width: 49%;
	display: inline-block;
	margin: 49px 0px;
}

.main-content .bottom-content .text-content {
	width: 33%;
    display: inline-block;
    margin: 49px 0px;
}

.middle-img {
	vertical-align: middle;
}

.contact {
	margin: 40px 59px;
}

.contact .cell-contact
{
	line-height: 3;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

footer p {
 text-align: center;
}